* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #cad3da;
}

img {
  margin-top: 20vh;
  cursor: pointer;
  width: 500px;
  position: absolute;
  left: 5vw;
  cursor: zoom-in;
}

.magnifier-container {
  height: 270px;
  width: 270px;
  background-color: white;
  border-radius: 270px;
  border: 3px solid white;
  position: absolute;
  overflow: hidden;
  right: 15vw;
  top: 25vh;
}
.magnifier {
  background-image: url(./laptop.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  height: 300%;
  width: 300%;
}
